{{define "title"}}About{{end}} {{define "main"}}
<div class="about-section">
  <h2>About Me</h2>
  <p>
		Hey, I'm Yohannes Merga, a software engineer recently graduated from Addis Ababa University with a BSc in Software Engineering. I'm currently working as a software engineer at <a href="https://www.siinqeebank.com/" target="_blank" rel="noopener noreferrer">Siinqee Bank</a> in Addis Ababa, Ethiopia.
		my main interest is in building scalable and distributed systems. I'm also interested in learning new programming languages and frameworks.
		you can find me on <a href="https://twitter.com/johnmerga" target="_blank" rel="noopener noreferrer">Twitter</a> and <a href="http://linkedin.com/in/yohannes-merga-a1504a214" target="_blank" rel="noopener noreferrer">LinkedIn</a>.

    <a
      href="https://github.com/johnmerga/Mastering_Go/tree/main/snippetbox"
      target="_blank"
      rel="noopener noreferrer"
      class="github-link"
      >GitHub</a
    >.
  </p>
</div>
{{end}}