{{define "title"}}Password{{end}} {{define "main"}}
<h2>Change Password</h2>
<form action="/account/password/update" method="POST" novalidate>
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
  <!-- Notice that here we are looping over the NonFieldErrors and displaying
them, if any exist -->
  {{range .Form.NonFieldErrors}}
  <div class="error">{{.}}</div>
  {{end}}
  <div>
    <label>Current Password:</label>
    {{with .Form.FieldErrors.oldPassword}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="password" name="oldPassword" />
  </div>

  <div>
    <label>new Password:</label>
    {{with .Form.FieldErrors.newPassword}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="password" name="newPassword" />
  </div>

  <div>
    <label>confirm Password:</label>
    {{with .Form.FieldErrors.confirmPassword}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="password" name="confirmPassword" />
  </div>

  <div>
    <input type="submit" value="Change" />
  </div>
</form>
{{end}}
